generated_results/
generated_results_F5_Fixed/
generated_results_F5_Random/
generated_results_F5_FewSpeakers/
generated_results_f5_tts_1000/
prompt_wav_files/
my_librispeech/
generated_results_XTTS_v2_1000/
generated_results_XTTS_v2_Random/
generated_results_XTTS_FewSpeakers/
analysis_figures_xtts_v2_1000/
analysis_figures_f5_tts_1000/
analysis_figures_xtts_v2/
analysis_figures_f5_tts/
analysis_figures_xtts_v2_few_speakers/
analysis_figures_f5_tts_few_speakers/

tests/
__pycache__/