accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
antlr4-python3-runtime
anyio
argcomplete
astor
asttokens
attrs
audioread
bitsandbytes
blake3
boto3
botocore
brotli
cached_path
cachetools
cbor2
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
comm
compressed-tensors
cupy-cuda12x
cycler
datasets
debugpy
decorator
depyf
dill
diskcache
distro
dnspython
einops
einx
# ema-pytorch
email-validator
encodec
executing
f5-tts
fastapi
fastapi-cli
fastapi-cloud-cli
fastar
fastrlock
ffmpy
filelock
fonttools
frozendict
frozenlist
fsspec
gguf
gitdb
GitPython
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
gradio
gradio_client
groovy
h11
hf-xet
httpcore
httptools
httpx
huggingface-hub
hydra-core
idna
interegular
ipykernel
ipython
ipython_pygments_lexers
jedi
jieba
Jinja2
jiter
jmespath
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
lark
lazy_loader
librosa
llguidance
llvmlite
lm-format-enforcer
loguru
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistral_common
mpmath
msgpack
msgspec
multidict
multiprocess
nest-asyncio
networkx
ninja
numba
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-ml-py
nvidia-nccl-cu11
nvidia-nvtx-cu11
omegaconf
openai
openai-harmony
opencv-python-headless
orjson
outlines_core
packaging
pandas
parso
partial-json-parser
pexpect
pillow
pipx
platformdirs
pooch
prometheus-fastapi-instrumentator
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure_eval
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
pybase64
pycountry
pycparser
pydantic
pydantic-extra-types
pydantic_core
pydub
Pygments
pynndescent
pyparsing
pypinyin
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
PyYAML
pyzmq
ray
referencing
regex
requests
rich
rich-toolkit
rignore
rpds-py
rsa
ruff
s3transfer
safehttpx
safetensors
scikit-learn
scipy
semantic-version
sentencepiece
sentry-sdk
setproctitle
setuptools
shellingham
six
smmap
sniffio
soundfile
soxr
stack-data
starlette
sympy
threadpoolctl
tiktoken
tokenizers
tomli
tomlkit
# torch
# torchaudio
# torchdiffeq
# torchvision
tornado
tqdm
traitlets
transformers
transformers-stream-generator
triton
typer
typing-inspection
typing_extensions
tzdata
umap-learn
Unidecode
urllib3
userpath
uvicorn
uvloop
vllm
vocos
wandb
watchfiles
wcwidth
websockets
wheel
x-transformers
xformers
xgrammar
xxhash
yarl
